@charset "UTF-8";

li {
	list-style: none;
}

.item {
	width: 30%;
	float: left;
}

img {
	width: 50%;
}

.cart {
    width: 5%;
    height: 5%;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}
