@charset "UTF-8";

li {
	list-style: none;
}

#itemList li {
	width: 30%;
	float: left;
}

img {
	width: 55%;
}

table {
	width: 95%;
	table-layout: fixed;
}

.register {
	width: 30%;
}

.id {
	width: 10%;
}

.img, .name {
	width: 25%;
}

.btn {
	width: 10%;
}